<u>
    <li *ngFor="let employee of EmployeesList" >{{ employee.Name }}</li>
</u>
<table class="table" >
    <thead>
        <tr>
            <td>Name</td>
            <td>Age</td>
            <td>Status</td>
            <td>Created At</td>
            <td>Details</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let empl of EmployeesUrlList" >
            <td>{{ empl.name }}</td>
            <td>{{ empl.age }}</td>
            <td>{{ empl.status }}</td>
            <td>{{ empl.createdAt }}</td>
            <td>Details</td>
            <td>Edit</td>
            <td>Delete</td>
         </tr>
    </tbody>
</table>
<p>Trang : {{ currentPage }}</p>
<div class="card text-center m-3">
    <div class="card-footer pb-0 pt-3">
      <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
    </div>
</div> 