.movies {
    background: #3399ff;
    padding: 0.5em 1em 0.5em 1.5em ;
    margin: 1em;
    max-width: 18em;
}
.movies .movieListItem{
    font-size: 0.875em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #cce5ff;
    padding: 0.3em;
    margin: 0.2em;
    text-align: left;
}
.selected{
    background: mediumseagreen !important ;
    color: white;
}
.parent {display: flex;}
.details {
    background: mediumseagreen;
    color: white;
    padding: 0.5em;
    margin: 1em;
    max-width: 20em;
    text-align: left;
    font-size: 0.875em;
}