<h2>Movies's details: </h2>
<div><span>id: </span>{{ movie.id }}</div>
<div><span>Name: </span>{{ movie.name | uppercase }}</div>
<div><span>Release year: </span>{{ movie.releaseYear }}</div>

<h2>Edit your information: </h2>
<div style="margin: 10px; text-align: left;" >
    <label>Movie name (data-bindng One-way): 
        <input [ngModel]="movie.name" placeholder="Enter movie's name" >
    </label>
</div>
<div style="margin: 10px; text-align: left;" >
    <label>Release year (data-bindng Two-way):
        <input [(ngModel)]="movie.releaseYear" placeholder="Enter release year" >
    </label>
</div>
<!-- [class.selected]="eachMovie === selectedMovie"
            (click)="onSelect(eachMovie)" -->
<h3>My favorite movies</h3>
<div style="text-align: left;" >
    <table style="width: 300px;" >
        <tr>
            <td>New movie's name :</td>
            <td>
                <input #movieName placeholder="name" >
            </td>
        </tr>
        <tr>
            <td>release Year :</td>
            <td>
                <input #releaseYear placeholder="release year" >
            </td>
        </tr>
        <tr>
            <button type="button" class="btn btn-primary btn-sm" 
                (click)="add(movieName.value, releaseYear.value) ; 
                             movieName.value=''; releaseYear.value=''"
            >Addmovie
            </button>
        </tr>
    </table>
</div>
<div class="parent" >
    <ol class="movies" >
        <li class="movieListItem" *ngFor="let eachMovie of movies"  >
            <a routerLink="/detail/{{ eachMovie.id }}" style="text-decoration: none;" > 
                {{ eachMovie.name }}  -  {{ eachMovie.releaseYear }}
            </a>   
        </li>
    </ol>
    <!-- <div *ngIf="selectedMovie" class="details" >
        <h3>You selected: {{ selectedMovie.name }} . Details: </h3>
        <table style="width: 100%;" >
            <tr>
                <td>Name: </td>
                <td><input [(ngModel)]="selectedMovie.name" placeholder="name" ></td>
            </tr>
            <tr>
                <td>ReleaseYear: </td>
                <td><input [(ngModel)]="selectedMovie.releaseYear" placeholder="release year" ></td>
            </tr>
        </table>
    </div> -->
    <!-- <app-movie-details [movie]="selectedMovie" ></app-movie-details> -->
    <!-- <app-messages></app-messages> -->
    <!-- <a class="nav-link" routerLinkActive="active" routerLink="/movies" >Movies Detail</a> -->
    <a class="nav-link" routerLinkActive="active" routerLink="/message" >Message_Times</a>
    <a class="nav-link" routerLinkActive="active" routerLink="/dashboard" >Dashboard</a>
    
</div>
